<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <h2> Amazon-Web-Services </h2>
    <h3>Documentation</h3>
    <a href="https://docs.aws.amazon.com/">AWS-Documentation</a>
    <p> rendering aws-documentation template to flask application. </p>

  </body>
<style>
   body {
            background-image: url(../static/abcd.jpeg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:68px;
            margin-bottom:50px;
            background-size: cover;
        }
    h2 {
            font-family: Helvetica;
            color: White;
            font-size:3em;
        }

    h3 {
            font-family: Helvetica;
            color:green;
            font-size:2em;
        }


</style>
</html>