<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Flask Tutorial</title>
   <strong>
       <nav>
   <ul class="Menu">
   <li><a href="{{ url_for('home') }}">Home</a></li>
   <li><a href="{{ url_for('about') }}">About</a></li>
   </ul></nav>
   </strong>
  </head>
  <body>
  <ul>
  <li><a href="https://docs.aws.amazon.com/">aws-doc</a></li>
  <li><a href="https://medium.com/@rodkey/deploying-a-flask-application-on-aws-a72daba6bb80">Deploying-Flask-Over-EC2</a></li>
  </ul>

   <h2> My Flask application Using AWS Ubuntu ec2 instance.</h2>
   <p> Flask is Fun.<br /> One should start learning python and then the creation of the very basic applications are required.<br />
   Flask comes very handy, as it helps in creation of light weighted web applications.
   </p>


  </body>

    <style>
        body {
            background-image: url(../static/pp.jpg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:68px;
            margin-bottom:50px;
            background-size: cover;
        }

        p {
            font-family: Arial;
            font-size: 3em;
            color: white;
            }

        h2 {
            font-family: Arial;
            color: Yellow;
            font-size:4em;

        }
    </style>
</html>