<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Majin-Buu</title>
</head>
<body>
<h2>Majin Buu</h2>
<p>
<br>Majin Buu (Japanese: 魔人ブウ Hepburn: Majin Bū), generally spelled Majin Boo in subtitles of the Japanese anime, and rendered as Djinn-Boo in the Viz Media manga, is a fictional character and the final antagonist in the Dragon Ball manga series created by Akira Toriyama.</br> He is introduced in chapter #460 Majin Boo Appears?! (魔人ブウ出現か!? Majin Bū Shutsugen ka!?) first published in Weekly Shōnen Jump magazine on March 1, 1994.</br> Majin Buu is a genie-like magical life form created by the evil warlock Bibidi that terrorized galaxies by destroying entire planets, millions of years before the events of Dragon Ball take place. He was temporarily sealed away and brought to Earth; however, Bibidi was killed and Buu remained hidden.</br> During the events of Dragon Ball, he is revived by Bibidi's son Babidi in order to carry on his father's plan to conquer the entire universe.</p>
</body>
<style>
     body {
            background-image: url(../static/12.png);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:68px;
            margin-bottom:50px;
            background-size: cover;
        }

        p {
            font-family: verdana;
            font-size: 2em;
            color: brown;
            }

        h2 {
            font-family: Arial;
            color: green;
            font-size:3em;

        }
    </style>
</html>
