<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>mojo jojo</title>
   </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">flask</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('scratch_1') }}">scratch</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>

 <style>
        body {

            background-image: url(../static/real-python-placeholder-1.jpeg);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:68px;
            margin-bottom:50px;
            background-size: cover;
        }

        #headline1 {

   }
</style>
</html>